<h1>Acess#index</h1>
<p>Find me in app/views/acess/index.html.erb</p>
<%= link_to 'Logout' , :action => 'logout' %>
<a href="#login_modal" data-toggle="modal" data-target="#login_modal" id="login">Login </a>
