<div class="col-lg-12 filterdt1">
	<h3>filter 1</h3> 
	<hr/>
</div> 
<div class="col-lg-12 filterdt1">
	<h3>filter 2</h3>
	<hr/>
</div>
<div class="col-lg-12 filterdt1">
	<h3>filter 3</h3>
	<hr/>
</div>
<div class="col-lg-12 filterdt1">
	<h3>filter 4</h3>
	<hr/>
</div>
<div class="col-lg-12 filterdt1">
	<h3>filter 5</h3>
	<hr/>
</div>


