body{
//	
	background-position: center; 
	
}
.homeindex{
	background: url('/assets/homebg4.jpg') no-repeat 0 0 ;
//	height : 2000px;
	background-position: 100% 80%;
}
/* for post ad   */
.next{
	height :42px;
}
body,td,th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-top: 0%;
}

th{
	font-size: 14px;
	color: green;
	margin: 1% 0 0 0 ;
	float: left;
}
td:hover {
	background: #FFCC00;
}
.headertable{
	float: right;
	margin-right: 35%;
}
.login{
	font-size: 15px;
}
a.post{
	color: green;
	font-weight: bold;
	font-size: 20px;
	
}
a:hover {
	background: none;
}
.register{
	font-size: 15px;
}
.filter{
	margin: 15px 0 0 100px;
//	border: thin solid #12D49B;
//	border-radius: 10px;
	padding: 5px;
}
.filterdt1 {
//	border: thin solid #12D49B;
//	border-radius: 10px;
	padding: 5px
}
.headerdiv{
	height:80px;
	padding-top:2.5%;
}
.adcontent{
	margin-top: 15px;
//	border: thin solid #12D49B;
//	border-radius: 10px;
}
.ad_table:hover {
	border: 2px solid #FF9900;
	border-radius: 10px;
	background: #FFEB99;
}
.header{
	height: 85px;
	width: 100%;
	margin:0;
//	border: thin solid #12D49B;
//	border-radius: 10px;
//	background-color: #3EC4ED;
}
.adjust {
	height: 20px;
}

.logo{
	display: block;
	margin: 3px 0px 0px 9%;
	//float: left;
//	border: thin solid #12D49B;
//	border-radius: 10px;
}
.adimg {
	padding: 3% 0 0 0;
	//height: 50%;
}
.adimgsize {
	height: 80%;
	width: 80%;
}
.adtitle {
	font :;
	color: #339900;
}
.adDetails {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	width: 95%;
	max-width: 100%;
	margin: 0 0 20px 15px;
}

.adDetails > tbody >tr >td:hover {
	background-color: #99CC66;
}
.extraf {
	margin: 3% 0 0 0%;
	//float: right;
}
.extrag {
	background: #339900;
	border-radius: 5px;
}